{% extends 'homebase.html' %}
{% load static %}

{% block content %} 

<section class="objects-detail">
    <div class="container">
        <h2>{{postrentsale.title}}</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="swiper-container gallery-top" uk-lightbox>
                    <div class="swiper-wrapper">
                        
                        
                        {% for image in postrentsale.imageshots_set.all %}
                            
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <a class="uk-button uk-button-primary" href="{{image.image.url}}">
                                    <img src="{{image.image.url}}">
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"><img src="{% static 'img/svg/next.png' %}"></div>
                    <div class="swiper-button-prev"><img src="{% static 'img/svg/back.png' %}"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        {% for image in postrentsale.imageshots_set.all %}
                        <div class="swiper-slide">
                            <div class="swiper-slide-container"><img src="{{image.image.url}}"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <script type="text/javascript">
                    var galleryTop = new Swiper('.gallery-top', {
                       spaceBetween: 10,
                       effect: 'fade',
                       navigation: {
                         nextEl: '.swiper-button-next',
                         prevEl: '.swiper-button-prev',
                       },
                       loop: true,
                       loopedSlides: 5
                     });
                     var galleryThumbs = new Swiper('.gallery-thumbs', {
                       spaceBetween: 10,
                     
                       slidesPerView: 5,
                       touchRatio: 0.2,
                       slideToClickedSlide: true,
                       loop: true, 
                       loopedSlides: 5
                     });
                     galleryTop.controller.control = galleryThumbs;
                     galleryThumbs.controller.control = galleryTop;
                </script>
            </div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>Район/Город: </td>
                        <td>{{postrentsale.region}}, г.{{postrentsale.city}}</td>
                    </tr>
                    <tr>
                        <td>Площадь:</td>
                        <td>{{postrentsale.areas}} м²</td>
                    </tr>
                    <tr>
                        <td>Этаж / этажность:</td>
                        <td>{{postrentsale.floors}}</td>
                    </tr>
                    <tr>
                        <td>Состояние:</td>
                        <td>{{postrentsale.status}}</td>
                    </tr>
                    <tr>
                        <td>Высота потолков:</td>
                        <td>{{postrentsale.height_ceiling}} м</td>
                    </tr>
                    <tr>
                        <td>Тип дома:</td>
                        <td>{{postrentsale.dom_type}}</td>
                    </tr>
                    <tr>
                        <td>Право собственности:</td>
                        <td>{{postrentsale.ownership}}</td>
                    </tr>
                    <tr>
                        <td>Расстояние до моря:</td>
                        <td>{{postrentsale.distance_sea}}</td>
                    </tr>
                    <tr>
                        <td>Расстояние до трассы:</td>
                        <td>{{postrentsale.distance_track}}</td>
                    </tr>
                    <tr>
                        <td>Стоимость:</td>
                        <td>{{postrentsale.price}} ₽</td>
                    </tr>
                </table>
                <hr>
                <div class="objects-detail__social">
                    <!-- <ul>
                        <span>Поделиться:</span>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-vk"></i></a></li>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    </ul> -->
                    <a href="tel:+7 (940) 000-00-00" class="btn__class">Позвонить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Описание</h2>
        <hr>
        <p>
            {{postrentsale.description}}
        </p>
    </div>
</section>

<section class="objects">
    <div class="container">
        <h1>Выгодные предложения</h1>
        <div class="row">

            <!-- цикл START -->
            {% for el in rentsale %}
            <div class="col-md-3 col-lg-3 col-12">
                <div class="objects__content">
                    <img src="{{el.image.url}}" class="img-fluid" style="height: 180px; object-fit: cover;">
                    <div class="objects__content-info">
                        <span class="objects__name">{{el.title}}</span>
                        <img class="objects__location-img" src="{% static 'img/placeholder.svg' %}">
                        <span class="objects__location">
                            {{el.region}}, {{el.city}}
                        </span>
                    </div>
                    <div class="objects__content-info">
                        <img class="objects__location-img" src="{% static 'img/ruler.svg' %}">
                        <span class="objects__location">
                            {{el.areas}} м²
                        </span>
                        <img class="objects__location-img" src="{% static 'img/double-bed.svg' %}">
                        <span class="objects__location">
                            {{el.rooms}} комнаты
                        </span>
                    </div>
                    <div class="objects__content-info">
                        <img class="objects__location-img" src="{% static 'img/stairs.svg' %}">
                        <span class="objects__location">
                            {{el.floors}} этаж / этажность
                        </span>
                    </div>
                    <div class="text-center pb-4 pt-3">
                        <a href="{{el.get_absolute_url}}" class="btn__class">посмотреть</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- цикл START -->
            
        </div>
    </div>
</section>

{% endblock content %} 