{% extends 'homebase.html' %}
{% load static %}

{% block title %}{{reviews.nikname}}{% endblock %}

{% block content %}

<section class="objects-detail">
    <div class="container">
        <h1>
            {{reviews.nikname}}
        </h1>
        <div class="row">
            <div class="col-md-6">
                <div class="swiper-slide-container">
                    <a class="uk-button uk-button-primary" href="{{reviews.image.url}}">
                        <img src="{{reviews.image.url}}">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <hr>
                <p>{{reviews.desc}}</p>
                <hr>
                <p>
                    {{reviews.date}}
                </p>
            </div>
    </div>
</section>


{% endblock content %}
