{% extends 'homebase.html' %}
{% load static %}

{% block title %}Отзыв - {{reviews.nikname}}{% endblock %}

{% block content %}

<section class="objects-detail">
    <div class="container">
        <h1>
            {{reviews.nikname}}
        </h1>
        <div class="row">
            <div class="col-md-6">
                <div class="swiper-slide-container">
                    {% if reviews.image %}
                        <a class="uk-button uk-button-primary" href="{{reviews.image.url}}" target="_blank">
                            <img src="{{reviews.image.url}}">
                        </a>
                        {% else %}
                        <a class="uk-button uk-button-primary" href="#">
                            <img src="{% static 'img/загружено.png' %}">
                        </a>
                        {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <hr>
                <p>{{reviews.desc}}</p>
                <hr>
                <p>
                    {{reviews.date}}
                </p>
                <a href="../" class="reviews-back">Возврат к списку</a>
            </div>
    </div>
</section>


{% endblock content %}
