{% extends 'homebase.html' %}

{% load static %}

{% load contact_tags %}

{% block title %}ХОЧУ ПРОДАТЬ - Недвижимость в Абхазии - Мечта из надежных рук{% endblock %}

{% block content %}
<section class="about want_sell">
    <div class="container">
        <div class="row" style="margin: 0 auto; justify-content: center;">

            <div class="col-lg-12 col-md-12 col-12">
                <h2 class="card-title text-center pt-4 pb-4" style="text-transform: uppercase;">
                    ХОЧУ ПРОДАТЬ
                </h2>
            </div>

            <div class="col-lg-10 col-md-10 col-10">
                 <!-- FORM START -->
                    
                 {% contact_form %}

                 <!-- FORM END -->
            </div>

        </div>
    </div>
</section>

{% endblock content %}
