<footer class="mt-5">
    <div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Контакты</h3>
                <p><i class="fas fa-map-marker-alt"></i> Локация: г. Сухум</p>
                <p><i class="fas fa-phone"></i> Телефон: +7 (940) 000-00-00</p>
                <p><i class="fas fa-envelope"></i> Почта: hello@domain.com</p>
            </div>
            <div class="col-md-3">
                <h3>Навигация</h3>
                <p><a href="{% url 'index' %}">Главная</a></p>
                <p><a href="#">Дома</a></p>
                <p><a href="#">Квартиры</a></p>
                <p><a href="#">Участки</a></p>
                <p><a href="#">Коммерческая недвижимость</a></p>
            </div>
            <div class="col-md-6">
                <div style="position:relative;overflow:hidden;">
                    <iframe src="https://yandex.ru/map-widget/v1/-/CCUUFYSQKB" width="100%" height="250" 
                    frameborder="1" allowfullscreen="true" style="position:relative;" ></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p style="color: #615a5a;">
                        2021 © «ЮГ недвижимость Абхазия». Все права защищены
                        <br>
                        Разработка сайта: Басария Нарт</p>
                </div>
                <div class="col-md-4">
                    <div class="col footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>