{% load static %}
<header class="header">
    <section class="menu-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ul>
                        <li>
                            <a href="mailto:yug_realty_abkhazia@mail.ru" style="color: #fff; text-decoration: none;">
                                <img src="https://img.icons8.com/plasticine/2x/gmail.png" width="24px"> yug_realty_abkhazia@mail.ru
                            </a>
                        </li>
                        <li>
                            <a href="tel:+79407371717" style="color: #fff; text-decoration: none;">
                                <img src="http://assets.stickpng.com/images/5a4525bd546ddca7e1fcbc83.png"  width="18px"> +79407371717
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <nav>
                        <ul>
                            <li>
                                <a href="{% url 'about' %}"
                                {% if request.get_full_path == '/about/' %}style="color:white;" {% endif %}>
                                    О компании
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'reviews' %}"
                                {% if request.get_full_path == '/reviews/' %} style="color:white;" {% endif %}>
                                    Отзывы о нас
                                </a>
                            </li>
                            <li><a href="tel:+7 (940) 000-00-00" class="red">ХОЧУ ПРОДАТЬ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="menu-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'index' %}" style="background:white;">
                <img src="{% static 'img/logo 2.png' %}" style="width: 118px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li {% if request.get_full_path == '/' %} class="active" {% endif %} >
                            <a href="{% url 'index' %}">
                             Главная
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Аренда
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li>
                                    <a class="dropdown-item" href="{% url 'arenda_dom_page' %}">Дома </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'arenda_kv_page' %}">Квартиры </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'arenda_uchactky_page' %}">Участки </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'arenda_com_ned_page' %}">Коммерческая недвижимость </a>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Продажа
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li>
                                    <a class="dropdown-item" href="{% url 'sale_dom_page' %}">Дома </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'sale_kv_page' %}">Квартиры </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'sale_uchactky_page' %}">Участки </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'sale_com_ned_page' %}">Коммерческая недвижимость </a>
                                </li>

                            </ul>
                        </li>
                        <li {% if request.get_full_path == '/projects/' %} class="active" {% endif %}>
                            <a  href="{% url 'projects' %}">Проекты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</header>
